@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.nav{
    border-bottom: 1px solid black;
}
.logo{
    width: 100px;
}
.container-fluid{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu .dropdown-toggle{
    
    height: 100px;
    display: flex;
    align-items: center;
}
.menu{
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.menu button{
    font-size: 15px;
    color: rgb(8, 31, 137);
    text-align:left;
    font-weight: 500;
}
.menu button{
    background-color: transparent;
    border: 0;
}
.dropdown-menu{
    width: 17%;
    background-color: #FCF7FC;
    border: 0;
    border-radius: 0;
    border-top: 4px solid #001C86;
}
.drop:hover .dropdown-menu{
    display: block;
}